/* style.css */
body {
    font-family: Arial, sans-serif;
}

#quiz-container {
    width: 300px;
    margin: auto;
    text-align: center;
}

#question {
    margin-bottom: 20px;
}

#answer {
    margin-bottom: 10px;
}

#feedback {
    margin-top: 10px;
    color: green;
}

#score {
    margin-top: 20px;
}

button {
    cursor: pointer;
}
